{% extends "base.html" %}
{% block content %}
<style>
    form {
        margin-top: 20px;
    }

    select {
        width: 60%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="text"], input[type="password"] {
        width: 60%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        width: 60%;
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        opacity: 0.8;
    }
</style>
<form action="http://localhost:8080/update_actuator" method="post" id="editActuatorForm">
    <h1>Editar Atuador:</h1>
    <select name="actuator" class="Input" id="actuatorSelect">
        {% for actuator in actuators %}
            <option value="{{ actuator }}">{{ actuator }}</option>
        {% endfor %}
    </select>
    <p><input type="text" name="new_actuator_name" placeholder="Novo nome do atuador" /></p>
    <p><input type="submit" value="Atualizar" /></p>
</form>
{% endblock %}
